.navbar {
  width: 100%;
  color: white;
  display: flex;
  margin: 0 auto;
  background-color: rgba(1, 3, 5, 0.747);
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  justify-content: space-around;
  border-bottom: 1px solid #c9ab81;

}