.navbar {
  width: 100%;
  color: white;
  display: flex;
  margin: 0 auto;
  background-color: black;
  padding-bottom: 2rem;
  padding-top: 2rem;
  justify-content: space-around;
  border-bottom: 1px solid #c9ab81;

}